
 html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-image: url(../images/img2.jpg);
    }
    
    .container{
    align-content: center;
    height: 100%;
    }
    
    .card{
    margin-top: auto;
    height:  600px;
    width: 400px;
    margin-bottom: auto;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span { 
    font-size: 60px;
    margin-left: 10px;
    color: #e08a1a;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color:#e08a1a;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #e08a1a;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    }
    
    .login_btn:hover{
    color: black;
    background-color: rgb(107, 93, 93);
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    