{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'fastfoodapp/css/addmeal.css' %}"> 


    <title> Meals OFEER</title>
<style>
    #add input:hover{
        transform: skew(20deg); 
        transition: all 2s;
    }
</style>
<script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
    menuBtn.onclick = ()=>{
      items.classList.add("active");
      menuBtn.classList.add("hide");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
    cancelBtn.onclick = ()=>{
      items.classList.remove("active");
      menuBtn.classList.remove("hide");
      searchBtn.classList.remove("hide");
      cancelBtn.classList.remove("show");
      form.classList.remove("active");
      cancelBtn.style.color = "#ff3d00";
    }
    searchBtn.onclick = ()=>{
      form.classList.add("active");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
</script>

</head>
<body>

    <nav>
        <div class="menu-icon">
  <span class="fas fa-bars"></span></div>
  <a href="{% url 'MainPage' %}" class="logo" style="text-decoration: none;">
    Otlob</a>
  <div class="nav-items">
  <li><a href="#">About Us</a></li>
  <li><a href="#">Foods</a></li>
  <li><a href="{% url 'Restaurant' %}">Restaurant</a></li>
  <li><a href="#">Feedback</a></li>
  <li><a href="#">Log In</a></li>
  <li><a href="{% url 'TypePage' %}">Log Up</a></li>
  </div>
  <div class="search-icon">
  <span class="fas fa-search"></span></div>
  <div class="cancel-icon">
  <span class="fas fa-times"></span></div>
  <form action="#">
          <input type="search" class="search-data" placeholder="Search" required>
          <button type="submit" class="fas fa-search"></button>
        </form>
  </nav>

    <div class="container" style="background-color:rgb(255, 255, 245);">

            <div class="row" style="margin-top: 2%; background-color: blanchedalmond; text-align: center; padding: 1%;" >
                <div  class=" col-sm-12">
                    <h1> MEAL OFFER</h1>
                </div>
            </div>
            
            <form id="add" method="POST" style="margin-top: 2%;" action="/restaurant/editmeal/{{obj.id}}" >
                {% csrf_token %}
                    <label>Meal Name</label>
                    <input type="text" class="form-control" name="it_name" id="id_it_name" value="{{obj.It_Name}}">
                    <br>
                    <label>Meal Kind</label>
                    <input type="text" class="form-control" name="it_kind" id="id_it_kind" value="{{obj.It_Kind}}">
                    <br>
                    <label>Meal Size</label>
                    <input type="text" class="form-control" name="it_size" id="id_it_size" value="{{obj.It_Size}}">
                    <br>
                    <label>Meal Prise</label>
                    <input type="text" class="form-control" name="it_prise" id="id_it_prise" value="{{obj.It_Prise}}">
                    <br>
                    <label>simple Description</label>
                    <textarea class="form-control" type="text" name="it_descrip" id="id_it_descrip" cols="30" rows="5" value="{{obj.It_Descrip}}"></textarea>
                    <br>
                    
                    <div style=" text-align:right"  class=" col-md-12">
                        <button type="submit" class="btn-lg btn-success" >UPDATE</button>
                    </div>
            </form>

            <div class="row" >

                <div style=" text-align:left"  class=" col-md-6">
                    <button type="submit" class="btn-lg btn-secondary" ><a style ="text-decoration-line: none; color: white;" href="http://127.0.0.1:8000/restaurant">Back To Restaurant</a></button>
                </div>
            
                
            </div>

        </div>


    </div>
</body>
</html>