{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Type</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'fastfoodapp/css/typepage.css' %}"> 
    <style>
        *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    
    background-image: url(../static/fastfoodapp/images/pexels-photo-958545.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
        
    </style>
    
</head>
<body>
    
        <header>
    <nav>
        <div class="menu-icon">
          <span class="fas fa-bars"></span></div>
          <a href="{% url 'MainPage' %}" class="logo" style="text-decoration: none; color:  #E08A1A;">Otlob</a>
          <div class="nav-items">
             <li><a href="{% url 'aboutus'%}">About Us</a></li>
            <li><a href="{% url 'Rmeals'%}">Foods</a></li>
            <li><a href="{% url 'RDFPage' %}">Reastaurants</a></li>
            <li><a href="{% url 'loginType' %}">SING In</a></li>
            <li><a href="{% url 'TypePage' %}">SING Up</a></li>
        </div>
          <!-- <div class="search-icon">
          <span class="fas fa-search"></span></div>
          <div class="cancel-icon">
          <span class="fas fa-times"></span></div> -->
          <!-- <form action="#">
                  <input type="search" class="search-data" placeholder="Search" required>
                  <button type="submit" class="fas fa-search"></button>
                </form> -->
    </nav>
        </header>
        <div class="container">
        <div class="row">
            <div class="col-12">
                <section class="type">
                    <h3>Choose Your Type </h3>
                    <div class="row">
                        <aside class="col-6">
                            <a href="{% url 'login' %}" class="btn btn-danger"><i class="fas fa-user"></i> | Customer Login</a>
                        </aside>
                        <aside class="col-6">
                            <a href="{% url 'login2' %}" class="btn btn-danger"><i class="fas fa-utensils"></i> | Restaurant Login</a>
    
                        </aside>
                    </div>
                  
                    
                 
                </section>

            </div>
        </div>
        
    </div>
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const menuBtn = document.querySelector(".menu-icon span");
        const searchBtn = document.querySelector(".search-icon");
        const cancelBtn = document.querySelector(".cancel-icon");
        const items = document.querySelector(".nav-items");
        const form = document.querySelector("form");
        menuBtn.onclick = ()=>{
          items.classList.add("active");
          menuBtn.classList.add("hide");
          searchBtn.classList.add("hide");
          cancelBtn.classList.add("show");
        }
        cancelBtn.onclick = ()=>{
          items.classList.remove("active");
          menuBtn.classList.remove("hide");
          searchBtn.classList.remove("hide");
          cancelBtn.classList.remove("show");
          form.classList.remove("active");
          cancelBtn.style.color = "#ff3d00";
        }
        searchBtn.onclick = ()=>{
          form.classList.add("active");
          searchBtn.classList.add("hide");
          cancelBtn.classList.add("show");
        }
      </script>
</body>
</html>