{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fastfoodapp/css/mainpage.css' %}"> 
    <link rel="stylesheet" href="{% static 'fastfoodapp/css/index.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    footer {
    background: #3a3a3a;
    color: #fff;
    font-size: 14px;
    }
    footer .footer-top {
    background: #4e4e4e;
    padding: 50px 0px 20px;
    }
    footer .address p {
    font-size: 16px;
    color: #ddd;
    font-style: italic;
    }
    footer .social-links a {
    font-size: 17px;
    display: inline-block;
    background: #28251f;
    color: #fff;
    line-height: 1;
    padding: 9px 0;
    margin-right: 5px;
    border-radius: 100%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.4s;
    }
    footer .social-links a:hover {
    background: #8bc34a;
    }
    footer h4 {
    font-size: 18px;
    color: #cddc39;
    padding-bottom: 12px;
    }
    footer .footer-menus {
    margin-bottom: 30px;
    }
    footer .footer-menus ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    footer .footer-menus ul li {
    margin-bottom: 10px;
    }
    footer .footer-menus ul i {
    color: #ffffff;
    font-size: 12px;
    margin-right: 3px;
    }
    footer .footer-menus ul a {
    color: #fff;
    text-decoration: none;
    }
    footer .footer-menus ul a:hover {
    color: #cddc39;
    }
    footer .newsletter form {
    margin-top: 30px;
    background: #3a3a3a;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #3a3a3a;
    }
    footer .newsletter form input[type="email"] {
    border: 0;
    padding: 5px;
    background: #3a3a3a;
    color: #fff;
    }
    footer .newsletter form input[type="email"]:focus {
    outline: none;
    }
    footer .newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    font-size: 16px;
    background: #cddc39;
    color: #000;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    }
    footer .newsletter form input[type="submit"]:hover {
    background: #d5e440;
    }
    .footer-bottom {
    padding: 20px 0px;
    }
    footer .footer-bottom a {
    color: #cddc39;
    text-decoration: none;
    }

    </style>
    
  </head>
  <body>
    
      <nav>
        <div class="menu-icon">
  <span class="fas fa-bars"></span></div>
  <a href="{% url 'MainPage' %}" class="logo" style="text-decoration: none;">
    Otlob</a>
  <div class="nav-items">
  <li><a href="#">About Us</a></li>
  <li><a href="#">Foods</a></li>
  <li><a href="{% url 'Restaurant' %}">Restaurant</a></li>
  <li><a href="#">Feedback</a></li>
  <li><a href="{% url 'login' %}">Log In</a></li>
  <li><a href="{% url 'TypePage' %}">Log Up</a></li>
  </div>
  <div class="search-icon">
  <span class="fas fa-search"></span></div>
  <div class="cancel-icon">
  <span class="fas fa-times"></span></div>
  <form action="#">
          <input type="search" class="search-data" placeholder="Search" required>
          <button type="submit" class="fas fa-search"></button>
        </form>
  </nav>
  
<script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
    menuBtn.onclick = ()=>{
      items.classList.add("active");
      menuBtn.classList.add("hide");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
    cancelBtn.onclick = ()=>{
      items.classList.remove("active");
      menuBtn.classList.remove("hide");
      searchBtn.classList.remove("hide");
      cancelBtn.classList.remove("show");
      form.classList.remove("active");
      cancelBtn.style.color = "#ff3d00";
    }
    searchBtn.onclick = ()=>{
      form.classList.add("active");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
  </script>
  <!-- ======= Header Slider Section ======= -->
    <header id="header">
        <div id="headerCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <!-- Slide Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#headerCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#headerCarousel" data-slide-to="1"></li>
              <li data-target="#headerCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
              <!-- Slide 1 -->
              <div class="carousel-item active">
                <div class="carousel-background"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.KrGAKEXgYL0tirUR-W0qbgHaE8%26pid%3DApi&f=1" 
                  alt="" style="width:100%"></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                    <h2>Welcome to <span>Otlob</span></h2>
                    <p>Do Not Worry About Food Anymore The FAVORITE and DELECHESE food is here</p>
                    <a href="#" class="contactus-btn">Contact Us</a>
                  </div>
                </div>
              </div>

              <!-- Slide 2 -->
              <div class="carousel-item">
                <div class="carousel-background"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.KrGAKEXgYL0tirUR-W0qbgHaE8%26pid%3DApi&f=1" 
                  alt="" style="width:100%"></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                    <h2>Tody's Offer</h2>
                    <a href="#" class="contactus-btn">get The Offer</a>
                  </div>
                </div>
              </div>

              <!-- Slide 3 -->
              <div class="carousel-item">
                <div class="carousel-background"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.KrGAKEXgYL0tirUR-W0qbgHaE8%26pid%3DApi&f=1" 
                  alt="" style="width:100%"></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                    <h2>Tody's Offer</h2>
                    <a href="#" class="contactus-btn">get The Offer</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Carousel pre and next arrow -->
            <a class="carousel-control-prev" href="#headerCarousel" role="button" data-slide="prev">
              <i class="fas fa-arrow-circle-left"></i>
            </a>

            <a class="carousel-control-next" href="#headerCarousel" role="button" data-slide="next">
              <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </header><!-- End header -->

     <!-- Cards Section -->
     <hr>
    <div class="d-flex" style="display: flex;"  id="food-div">
         <div id="food-left-side" style="display: flex;">
         {% for shop in shops.all %}
            <div class="card" style="width:25%">
                <div class="card-header">
                    <img class="card-img-top" src="test2-personImag.jpg" alt="card image">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{shop.R_Fname}}</h3>
                    <p class="card-text">{{shop.R_Lname}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="#" >order</a>
                </div>
            </div>
         {% endfor %}
         </div>
         <div id="food-right-side" style="float: right; width: fit-content;">
             <div class="dropdown">
                 <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                   Choose Your mel
                 </button>
                 <div class="dropdown-menu">
                   <a class="dropdown-item" href="#">break Fast</a>
                   <a class="dropdown-item" href="#">lunch</a>
                   <a class="dropdown-item" href="#">Dinner</a>
                 </div>
               </div>
         </div>
     </div>


                 <hr>
             <!-- Restaurant Section -->
     <div class="d-flex" id="Rest-div" style="display: flex;">
         <div id="Res-left-side" style="display: flex;">
             <div class="card" style="width:25%">
                 <div class="card-header">
                     <img class="card-img-top" src="test2-personImag.jpg" alt="card image">
                 </div>
                 <div class="card-body">
                     <h3 class="card-title">Restaurant Name</h3>
                     <p class="card-text">Rating</p>
                 </div>
                 <div class="card-footer">
                     <a class="btn btn-primary" href="#" >Visit</a>
                 </div>
             </div>
             <div class="card" style="width:25%">
                 <div class="card-header">
                     <img class="card-img-top" src="test2-personImag.jpg" alt="card image">
                 </div>
                 <div class="card-body">
                     <h3 class="card-title">Restaurant Name</h3>
                     <p class="card-text">Rating</p>
                 </div>
                 <div class="card-footer">
                     <a class="btn btn-primary" href="#" >Visit</a>
                 </div>
             </div>
             <div class="card" style="width:25%">
                 <div class="card-header">
                     <img class="card-img-top" src="test2-personImag.jpg" alt="card image">
                 </div>
                 <div class="card-body">
                     <h3 class="card-title">Restaurant Name</h3>
                     <p class="card-text">Rating</p>
                 </div>
                 <div class="card-footer">
                     <a class="btn btn-primary" href="#" >Visit</a>
                 </div>
             </div>
             <div class="card" style="width:25%">
                 <div class="card-header">
                     <img class="card-img-top" src="test2-personImag.jpg" alt="card image">
                 </div>
                 <div class="card-body">
                     <h3 class="card-title">Restaurant Name</h3>
                     <p class="card-text">Rating</p>
                 </div>
                 <div class="card-footer">
                     <a class="btn btn-primary" href="#" >Visit</a>
                 </div>
             </div>
         </div>
         <div id="Res-right-side" >
                 <div class="dropdown">
                     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                       choose your City 
                     </button>
                     <div class="dropdown-menu">
                       <a class="dropdown-item" href="#">Link 1</a>
                       <a class="dropdown-item" href="#">Link 2</a>
                       <a class="dropdown-item" href="#">Link 3</a>
                     </div>
                   </div>
        </div>
     </div>
    


<!-- footer section -->
    <footer>
      <div class="footer-top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-sm-6">
                      <div class="address">
                          <h3>Otlob</h3>
                          <p class="mb-4 mt-4">Shehabe Street, 136135, Cario</p>
                          <p><strong>Phone:</strong> +91 8558020904</p>
                          <p><strong>Email:</strong> Otlob4070@gmail.com</p>
                      </div>
                  </div>

                  <div class="col-lg-2 col-sm-6 footer-menus">
                      <h4>Useful Links</h4>
                      <ul>
                          <li><i class="fas fa-check"></i> <a href="#">Home</a></li>
                          <li><i class="fas fa-check"></i> <a href="#">About us</a></li>
                          <li><i class="fas fa-check"></i> <a href="#">Services</a></li>
                          <li><i class="fas fa-check"></i> <a href="#">Terms of service</a></li>
                          <li><i class="fas fa-check"></i> <a href="#">Privacy policy</a></li>
                      </ul>
                  </div>

                  <div class="col-lg-3 col-sm-6 footer-menus">
                      <h4>Our Services</h4>
                      <ul>
                          <li><i class="fas fa-check"></i> <a href="#">Submit a complaint</a></li>
                          <li><i class="fas fa-check"></i> <a href="#">Plans to lose weight</a></li>
                          <li><i class="fas fa-check"></i> <a href="#">How to applay as Restauarant</a></li>
                          <li><i class="fas fa-check"></i> <a href="#">How to applay as Customer</a></li>
                      </ul>
                  </div>

                  <div class="col-lg-4 col-sm-6 newsletter">
                      <h4>Our Newsletter</h4>
                      <p>Get the Offers and best new mels</p>
                      <form action="" method="post"><input type="email" name="email" /><input type="submit" value="Subscribe" /></form>

                      <div class="social-links mt-3">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-linkedin-in"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-pinterest-p"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <p class="text-center mb-2">&copy; Copyright <strong>Otlob</strong>. All Rights Reserved</p>
                      <p class="text-center mb-0">Created by <a href="https://www.markuptag.com/">Otlob</a></p>
                  </div>
              </div>
          </div>
      </div>
    </footer>


  </body>
</html>
